/* uni-app built-in style variables */
$uni-color-primary: #4f46e5;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
$uni-text-color: #111827;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #6b7280;
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f3f4f6;
$uni-border-color: #d1d5db;
