# Dependencies
node_modules/
/venv/
backend/venv/
__pycache__/
*.pyc

# Build output
unpackage/
dist/

# IDE
.hbuilderx/
.vscode/
.idea/

# Environment & Secrets
# .env
*.db
backend/db.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log
