# Dependencies
node_modules/
/venv/
__pycache__/
*.pyc

# Build output
unpackage/
dist/

# IDE
.hbuilderx/
.vscode/
.idea/

# Environment & Secrets
# .env
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log
